[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
flask-cors = "*"

[dev-packages]
pytest-pycodestyle = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
